*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
    background: #1954de;
    color: #eaeaea;
    padding: 1.5em;
    
}

header h1 {
    font-size: 1.65rem;
    padding: 0.5em 0;
    margin-bottom: 0.5em;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    text-align: center;
}

header h4 {
    font-size: 1.25rem;
    font-weight: 400;
    margin: 0 auto 1.5em;
    max-width: 40ch;
    text-transform: capitalize;
    text-align: center;
}

header img {
    display: block;
    width: 100%;
    height: auto;
    margin: 0 auto 1.75em;
}

header p {
font-size: 1.5rem;
font-weight: bold;
text-align: center;
padding: 0.5em 0;
}

header ul {
    margin: -.75rem;
}

header li {
    font-size: 1.5rem;
    font-weight: 400;
    max-width: 40ch;
    padding-left: 3em;
    background-image: url(assets/images/icons8-skateboard.svg);
    background-repeat: no-repeat;
    line-height: 1.15;    
    margin: .5rem 0;
}

header li::marker {
    color: #037715;
    font-size: .5rem;
}

.contact {
    height:  100vh;
    background-color: #dedede;
    margin: 0;
}

.contact h2 {
    font-size: 1.5rem;
    font-weight: 700;
    padding: .75em;
    margin: 0 auto;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-between;
}

form label {
    font-size: 1.25rem;
    font-weight: 700;
    margin: .25em 1em;
}

form input,
form textarea {
    font-size: 1.25rem;
    width: 90%;
    font-size: 1.2rem;
    padding: 1em;
    color: #fff;
    background-color: rgba(0, 142, 0, .4);
    border: none;
    border-radius: 5px;
    margin: .75em auto;
}

form textarea {
    height: 30%;
}

form input::placeholder {
    color: #fff;
}

form button{
    font-size: 1.5rem;
    font-weight: 900;
    padding: 1em;
    background-color: #037715;
    color: #eaeaea;
    border: none;
    border-radius: 5px;
    margin: 2em 1em;
    cursor: pointer;
}

form button:hover,
form button:focus {
    cursor: pointer;
    background-color: #eaeaea;
    color: #037715;
}

.contact img {
    display: block;
    width: 90%;
    height: auto;
    margin: 2em auto .5em;
    border-radius: 10px;
}

footer{
    text-align: center;
    background-color: #1954de;
    color: #fff;
    padding: .75rem;
}

footer p {
    margin-top: .5em;
}

