*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
}

header {
    background: #1954de;
    color: #eaeaea;
    padding: 1.5em;
    
}

header h1 {
    font-size: 2.5rem;
    font-weight: 900;
    padding: 0.5em 0;
    margin-bottom: 0.5em;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    text-align: center;
}

header h4 {
    font-size: 1.75rem;
    font-weight: 900;
    margin: 0 auto 1.5em;
    max-width: 40ch;
    text-transform: capitalize;
    text-align: center;
}

header img {
    display: block;
    width: 80%;
    height: auto;
    margin: 0 auto 1.75em;
}

header p {
font-size: 2rem;
font-weight: 900;
text-align: center;
padding: 0.5em 0;
}

header ul {
    list-style: none;
}

header li {
    font-size: 1.25rem;
    font-weight: 400;
    max-width: 40ch;
    padding-left: 3em;
    background-image: url(assets/images/icons8-skateboard.svg);
    background-repeat: no-repeat;
    line-height: 1.15;    
    margin: .5rem auto;
}


.contact {
    margin: 0;
}

.contact h2 {
    font-size: 2rem;
    font-weight: 900;
    padding: .75em;
    margin: 0 auto;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-between;
}

form label {
    font-size: 1.25rem;
    font-weight: 700;
    margin: .2em 0 .1em 2em;
}

form input,
form button {
    border: none;
    border-radius: 10px;
    padding: 1em;
    background-color: #037715;
    color: #eaeaea;
}

form input{
    font-size: 1.25rem;
    width: 90%;
    font-size: 1.2rem;
    color: #fff;
    background-color: rgba(0, 142, 0, .4);
    margin: .75em auto;
}

form input::placeholder {
    color: #fff;
}

form button{
    width :80%;
    font-size: 1.5rem;
    font-weight: 900;
    margin: 2em auto;
}

form button:hover,
form button:focus {
    cursor: not-allowed;
    background-color: #eaeaea;
    color: #037715;
}

.contact img {
    display: block;
    width: 80%;
    height: 50%;
    margin: 1.5em auto .5em;
    border-radius: 10px;
}

footer{
    text-align: center;
    color: #ff9100;
    padding: .75rem;
    background-color: #282828;
}

footer p {
    color: #037715;
}

footer p {
    margin-top: .5em;
}

@media (min-width: 768px) {
    .wrapper {
        display: flex;
        align-items: center;
    }

    header,
    main {
        width: 50%;
    }   

    header {
        padding: 2em;
        border-radius: 0 10px 10px 0;
    }

    header h1 {
        font-size: 3rem;
    }

    header h4 {
        font-size: 1.5rem;
    }

    header img {
        width: 70%;
    }

    header p {
        font-size: 2.5rem;
    }

    header ul {
        margin: 0;
        list-style: none;
    }

    header li {
        font-size: 1.75rem;
        line-height: 1.25;
        margin: 0 auto .1em;
    }

    .contact {
        align-self: flex-start;
    }

    .contact h2 {
        font-size: 2rem;
    }

    form label {
        font-size: 1.5rem;
    }

    form input,
    form button{
        border-radius: 20px;
    }

    form input {
        font-size: 1.5rem;
    }

    form button {
        width: 70%;
        font-size: 2rem;
        margin: 1em auto;
        padding: .6em 0;
    }

    .contact img {
        width: 80%;
        height: 100%;
        margin-top: 0;
    }

    footer {
        margin-top: 1em;
        padding: 1em;
    }

    footer p {
        font-size: 1.25rem;
    }
}